@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

nav {
  display: flex;
  padding: 2rem;
  align-items: center;
}
.right {
  margin-left: auto;
}

.right a {
  border: 1px solid var(--geist-foreground);
  padding: 0.5rem 1rem;
  border-radius: 3px;
}

button {
  border: none;
}
.bold {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: var(--geist-foreground);
  display: inline-block;
}

.left a[data-active='true'] {
  color: gray;
}

a + a {
  margin-left: 1rem;
}